In [42]:
from sklearn.decomposition import LatentDirichletAllocation
import pandas as pd

In [43]:
data = pd.read_csv('train_sw.csv')

In [45]:
data.head()

                                                body Unnamed: 1 Unnamed: 2
0  New wiki on how to avoid accidentally encourag...        NaN        NaN
1  I'm sorry did you say suicide fetishists? As i...        NaN        NaN
2  I didn’t necessarily see this addressed, perha...        NaN        NaN
3  I read so much about what NOT to do, what not ...        NaN        NaN
4  For the longest time, I thought this was a sub...        NaN        NaN

In [47]:
data_f = data.drop('Unnamed: 1',axis = 'columns')

In [49]:
data_f.head()

                                                body Unnamed: 2
0  New wiki on how to avoid accidentally encourag...        NaN
1  I'm sorry did you say suicide fetishists? As i...        NaN
2  I didn’t necessarily see this addressed, perha...        NaN
3  I read so much about what NOT to do, what not ...        NaN
4  For the longest time, I thought this was a sub...        NaN

In [36]:
data['body'][2]

nan

In [51]:
data = data_f.drop('Unnamed: 2',axis='columns')

In [52]:
data.head()

                                                body
0  New wiki on how to avoid accidentally encourag...
1  I'm sorry did you say suicide fetishists? As i...
2  I didn’t necessarily see this addressed, perha...
3  I read so much about what NOT to do, what not ...
4  For the longest time, I thought this was a sub...

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [53]:
data.shape

(4794, 1)

In [54]:
cv = CountVectorizer(max_df=0.9,min_df=2,stop_words='english')

In [55]:
dtm = cv.fit_transform(data['body'])

In [12]:
dtm

<847x1610 sparse matrix of type '<class 'numpy.int64'>'
	with 10296 stored elements in Compressed Sparse Row format>

In [56]:
from sklearn.decomposition import LatentDirichletAllocation

In [57]:
LDA = LatentDirichletAllocation(n_components=3,random_state=32)

In [58]:
LDA.fit(dtm)

LatentDirichletAllocation(n_components=3, random_state=32)

In [59]:
len(cv.get_feature_names())

6854

In [60]:
type(cv.get_feature_names())

list

In [61]:
import random
random_word_id = random.randint(0,1610)
cv.get_feature_names()[random_word_id]

'collect'

In [62]:
len(LDA.components_)

3

In [63]:
type(LDA.components_)

numpy.ndarray

In [64]:
LDA.components_.shape

(3, 6854)

In [65]:
single_topic = LDA.components_[0]

In [66]:
single_topic.argsort()

array([5572, 5049, 2100, ..., 3187, 3418, 4373], dtype=int64)

In [67]:
import numpy as np

In [68]:
single_topic.argsort()[-10:]

array([2510, 2195, 2822, 3553, 6042, 3260, 1770, 3187, 3418, 4373],
      dtype=int64)

In [69]:
top_ten_words = single_topic.argsort()[-20:]

In [75]:
for index in top_ten_words:
    print(cv.get_feature_names()[index])

good
feel
http
make
think
know
don
just
like
people

In [78]:
for i,topic in enumerate(LDA.components_):
    print(f"top 30 words for topic #{i}")
    print([cv.get_feature_names()[index] for index in topic.argsort()[-30:]])
    print('\n')
    print('\n')

top 30 words for topic #0
['ll', 'sorry', 'hope', 'point', 'suicide', 'life', 'post', 'things', 'person', 'need', 'really', 'going', 've', 'right', 'help', 'better', 'time', 'want', 'say', 'way', 'good', 'feel', 'http', 'make', 'think', 'know', 'don', 'just', 'like', 'people']




top 30 words for topic #1
['ll', 'did', 'good', 'dont', 'say', 'come', 'got', 'black', 'little', 'white', 'time', 'dumb', 'need', 'shit', 'right', 'think', 'love', 'life', 'stupid', 'lol', 'bitch', 'know', 'really', 'fucking', 'idiot', 'don', 'ass', 'like', 'fuck', 'just']




top 30 words for topic #2
['romney', 'way', 'man', 'world', 'party', 'right', 'make', 'president', 'pay', 'vote', 'country', 'government', 'democrat', 'blow', 'money', 'u2026', 'time', 'state', 'think', 'years', 'gay', 'just', 'don', 'people', 'obama', 'like', 'xe2', 'x80', 'xc2', 'xa0']

In [79]:
topic_results = LDA.transform(dtm)

In [80]:
topic_results.shape

(4794, 3)

In [81]:
data['Topic'] = topic_results.argmax(axis=1)

In [82]:
data

                                                   body  Topic
0     New wiki on how to avoid accidentally encourag...      0
1     I'm sorry did you say suicide fetishists? As i...      0
2     I didn’t necessarily see this addressed, perha...      0
3     I read so much about what NOT to do, what not ...      0
4     For the longest time, I thought this was a sub...      0
...                                                 ...    ...
4789    you are both morons and that is never happening      2
4790  Many toolbars include spell check, like Yahoo ...      0
4791  @LambeauOrWrigley\xa0\xa0@K.Moss\xa0\nSioux Fa...      2
4792  How about Felix? He is sure turning into one h...      2
4793  You're all upset, defending this hipster band....      0

[4794 rows x 2 columns]