In [1]:
from sklearn.decomposition import LatentDirichletAllocation
import pandas as pd

In [2]:
data = pd.read_csv('reddit-data/train_sw.csv')

In [3]:
data.head()

                                                body Unnamed: 1 Unnamed: 2
0  New wiki on how to avoid accidentally encourag...        NaN        NaN
1  I'm sorry did you say suicide fetishists? As i...        NaN        NaN
2  I didn’t necessarily see this addressed, perha...        NaN        NaN
3  I read so much about what NOT to do, what not ...        NaN        NaN
4  For the longest time, I thought this was a sub...        NaN        NaN

In [4]:
data_f = data.drop('Unnamed: 1',axis = 'columns')

In [5]:
data_f.head()

                                                body Unnamed: 2
0  New wiki on how to avoid accidentally encourag...        NaN
1  I'm sorry did you say suicide fetishists? As i...        NaN
2  I didn’t necessarily see this addressed, perha...        NaN
3  I read so much about what NOT to do, what not ...        NaN
4  For the longest time, I thought this was a sub...        NaN

In [40]:
data['body'][3]

'I read so much about what NOT to do, what not to say. Just let the person know you are there for them. "It must be hard to feel this way" blabla. OKAY. Nice. That works fine the first time, maybe a second time the person tells you that. But if this person repeats themselfs OVER AND OVER AGAIN. For the last fucking 3 years, every day, everrrryyy fucking day, WHAT THE FUCK AM I SUPPOSED TO SAY? If they keep saying that they are useless, that nothing is gonna help, that they need to die, that everyone is better off without them, everyday. What am I supposed to respond? Evertyime just "oh it must be hard to feel this way" or "I wish I could help you get better". Just let them sit there and not try to find a way out? This person extects help. Would be great if you gave tips about how to behave THEN. The long-term-conversation.'

In [7]:
data = data_f.drop('Unnamed: 2',axis='columns')

# Input

In [42]:
text = 'I read so much about what NOT to do, what not to say. Just let the person know you are there for them. "It must be hard to feel this way" blabla. OKAY. Nice. That works fine the first time, maybe a second time the person tells you that. But if this person repeats themselfs OVER AND OVER AGAIN. For the last fucking 3 years, every day, everrrryyy fucking day, WHAT THE FUCK AM I SUPPOSED TO SAY? If they keep saying that they are useless, that nothing is gonna help, that they need to die, that everyone is better off without them, everyday. What am I supposed to respond? Evertyime just "oh it must be hard to feel this way" or "I wish I could help you get better". Just let them sit there and not try to find a way out? This person extects help. Would be great if you gave tips about how to behave THEN. The long-term-conversation.'                      #input text;

In [43]:
pred = {'body': text, 'Unnamed:2':1}

In [44]:
data = data.append(pred, ignore_index = True);

In [45]:
data

                                                   body  Unnamed:2  Topic
0     New wiki on how to avoid accidentally encourag...        NaN    0.0
1     I'm sorry did you say suicide fetishists? As i...        NaN    0.0
2     I didn’t necessarily see this addressed, perha...        NaN    0.0
3     I read so much about what NOT to do, what not ...        NaN    2.0
4     For the longest time, I thought this was a sub...        NaN    0.0
...                                                 ...        ...    ...
4791  @LambeauOrWrigley\xa0\xa0@K.Moss\xa0\nSioux Fa...        NaN    0.0
4792  How about Felix? He is sure turning into one h...        NaN    0.0
4793  You're all upset, defending this hipster band....        NaN    2.0
4794  Bruuuh if a sane person wants to die it’s thei...        1.0    0.0
4795  I read so much about what NOT to do, what not ...        1.0    NaN

[4796 rows x 3 columns]

In [46]:
data.head()

                                                body  Unnamed:2  Topic
0  New wiki on how to avoid accidentally encourag...        NaN    0.0
1  I'm sorry did you say suicide fetishists? As i...        NaN    0.0
2  I didn’t necessarily see this addressed, perha...        NaN    0.0
3  I read so much about what NOT to do, what not ...        NaN    2.0
4  For the longest time, I thought this was a sub...        NaN    0.0

In [47]:
from sklearn.feature_extraction.text import CountVectorizer

In [48]:
data.shape

(4796, 3)

In [49]:
cv = CountVectorizer(max_df=0.9,min_df=2,stop_words='english')

In [50]:
dtm = cv.fit_transform(data['body'])

In [51]:
dtm

<4796x6861 sparse matrix of type '<class 'numpy.int64'>'
	with 59938 stored elements in Compressed Sparse Row format>

In [52]:
from sklearn.decomposition import LatentDirichletAllocation

In [53]:
LDA = LatentDirichletAllocation(n_components=3,random_state=32)

In [54]:
LDA.fit(dtm)

LatentDirichletAllocation(n_components=3, random_state=32)

In [55]:
len(cv.get_feature_names())

6861

In [56]:
type(cv.get_feature_names())

list

In [57]:
import random
random_word_id = random.randint(0,1610)
cv.get_feature_names()[random_word_id]

'crashing'

In [58]:
len(LDA.components_)

3

In [59]:
type(LDA.components_)

numpy.ndarray

In [60]:
LDA.components_.shape

(3, 6861)

In [61]:
single_topic = LDA.components_[0]

In [62]:
single_topic.argsort()

array([5202, 4723, 6341, ..., 3423, 6780, 6690], dtype=int32)

In [63]:
import numpy as np

In [64]:
single_topic.argsort()[-10:]

array([6487, 6090, 3192, 5116, 1772, 4128, 4378, 3423, 6780, 6690],
      dtype=int32)

In [65]:
top_ten_words = single_topic.argsort()[-20:]

In [66]:
for index in top_ten_words:
    print(cv.get_feature_names()[index])

president
way
make
blow
good
did
money
gay
know
think
want
time
just
right
don
obama
people
like
xc2
xa0

In [67]:
for i,topic in enumerate(LDA.components_):
    print(f"top 30 words for topic #{i}")
    print([cv.get_feature_names()[index] for index in topic.argsort()[-30:]])
    print('\n')
    print('\n')

top 30 words for topic #0
['vote', 'country', 'romney', 'world', 'say', 'pay', 'government', 'man', 'going', 'does', 'president', 'way', 'make', 'blow', 'good', 'did', 'money', 'gay', 'know', 'think', 'want', 'time', 'just', 'right', 'don', 'obama', 'people', 'like', 'xc2', 'xa0']




top 30 words for topic #1
['say', 'suicidal', 'need', 'state', 'life', 'try', 'post', 'help', 'years', 'idiot', 'democrat', 'said', 'way', 'u2026', 'point', 'want', 'right', 'really', 'doesn', 'suicide', 'make', 'know', 'think', 'fuck', 'people', 'xe2', 'x80', 'don', 'just', 'like']




top 30 words for topic #2
['hope', 'post', 'help', 'going', 'look', 'fuck', 'make', 'need', 'day', 'stupid', 'feel', 'shit', 'little', 'ass', 've', 'life', 'say', 'way', 'really', 'better', 'time', 'fucking', 'good', 'think', 'http', 'people', 'know', 'don', 'like', 'just']

In [68]:
topic_results = LDA.transform(dtm)

In [69]:
topic_results.shape

(4796, 3)

In [70]:
data['Topic'] = topic_results.argmax(axis=1)

In [71]:
data

                                                   body  Unnamed:2  Topic
0     New wiki on how to avoid accidentally encourag...        NaN      1
1     I'm sorry did you say suicide fetishists? As i...        NaN      1
2     I didn’t necessarily see this addressed, perha...        NaN      2
3     I read so much about what NOT to do, what not ...        NaN      2
4     For the longest time, I thought this was a sub...        NaN      2
...                                                 ...        ...    ...
4791  @LambeauOrWrigley\xa0\xa0@K.Moss\xa0\nSioux Fa...        NaN      0
4792  How about Felix? He is sure turning into one h...        NaN      2
4793  You're all upset, defending this hipster band....        NaN      1
4794  Bruuuh if a sane person wants to die it’s thei...        1.0      1
4795  I read so much about what NOT to do, what not ...        1.0      2

[4796 rows x 3 columns]

In [72]:
len(data)

4796

# Output

In [73]:
val = data['Topic'][len(data)-1]

if val == 0:
    print('Suicidal')
elif val == 1:
    print('Abusive/Threatening')
else:
    print('Completely Normal')

Completely Normal